@model TristanWebsite.Models.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="column left card" style="margin:10px;">
        <div class="card-body">
            <img style="margin: auto; display:block; margin-bottom:10px;" src="@Url.Content(Model.athlete.Profile)">
            <div class="card-title text-center">
                <h2>
                    @Model.athlete.FirstName @Model.athlete.LastName
                </h2>
            </div>
            <div class="card-text text-center">
                <h3>
                    
                </h3>
            </div>
        </div>
    </div>
    <div class="middle column">
        @foreach (var activity in Model.activities)
        {
            <div class="card" style="margin:10px;">
                <div class="card-body">
                    <div class="card-title">
                        <h2>
                            @activity.Name
                        </h2>
                    </div>
                    <div class="card-text">
                        <h3>
                            @activity.Type
                        </h3>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="evenLeft centerColumn"> 
                            <div class="card-subtitle">
                                Distance
                            </div>
                        </div>
                        <div class="vertical"></div>

                        <div class="evenCenter centerColumn">
                            <div class="card-subtitle">
                                Elevation Gain
                            </div>
                        </div>
                        <div class="vertical"></div>

                        <div class="evenRight centerColumn">
                            <div class="card-subtitle">
                                Time
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<style>
    hr {
        background-color: #DEDEDE;
        opacity: 1;
    }
    .row {
        align-content:center;
    }
    .centerColumn{
        text-align:center;
        height:100%;
    }
    .column {
        float: left;
        height: 100%;
    }
    .evenLeft, .evenRight, .evenCenter {
        width: 33%;
    }
    .left, .right {
        width:25%;
    }
    .middle {
        width:50%;
    }
    .card {
        background-color: #F7F7FA;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    .vertical {
        width: 1px;
        border-left: 1px solid #DEDEDE;
        height: inherit;
        padding: 0;
    }
</style>