@model TristanWebsite.Models.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="column left card" style="margin:10px;">
        <div class="card-body">
            <img style="margin: auto; display:block; margin-bottom:10px;" src="@Url.Content(Model.athlete.Profile)">
            <div class="card-title text-center">
                <h2>
                    @Model.athlete.FirstName @Model.athlete.LastName
                </h2>
            </div>
            <div class="card-text text-center">
                <h3>
                    
                </h3>
            </div>
        </div>
    </div>
    <div class="middle column">
        @foreach (var activity in Model.activities)
        {
            <div class="card" style="margin:10px;">
                <div class="card-body">
                    <div class="card-title">
                        <h2>
                            @activity.Name
                        </h2>
                    </div>
                    <div class="card-text">
                        <h3>
                            @activity.Type
                        </h3>
                    </div>
                    <hr/>
                    <p style="float:left;">Distance | <span style="float:right;">Time</span></p>
                </div>
            </div>
        }
    </div>
</div>


<style>
    .row {
        align-content:center;
    }
    .column {
        float: left;
        height: 100%;
    }
    .left, .right {
        width:25%;
    }
    .middle {
        width:50%;
    }
    .centerBlock {
        display:flex;
        justify-content:center;
        align-self:center;
        align-content:center;
        align-items:center;
    }

    .card {
        background-color: #F7F7FA;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
</style>